.shared_header,
.shared_header .header i {
  color: aliceblue;
}

.shared_header .header i.fa-magnifying-glass {
  opacity: 0.7;
}

.shared_header .header p {
  font-size: 18px;
}

.fa-solid {
  width: 100px;
  cursor: pointer;
}
